// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Playfair+Display:wght@400;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow: overlay;

    &::-webkit-scrollbar {
        background: transparent;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 117, 98, 255);
        border-radius: 20px;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 100px;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 40px;

    }

    .cta {
        border: none;
        background: none;

        a {
            text-decoration: none;
            color: #000000;
        }
    }

    .cta span {
        padding-bottom: 7px;
        letter-spacing: 4px;
        font-size: 14px;
        padding-right: 15px;
        text-transform: uppercase;
    }

    .cta svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active svg {
        transform: scale(0.9);
    }

    .hover-underline-animation {
        position: relative;
        color: black;
        padding-bottom: 20px;
    }

    .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .cta:hover .hover-underline-animation:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}